/base
/archived
# Add all latex temporary files to the ignore list
*.aux
*.bbl
*.blg
*.dvi
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.tex
*.bib
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.synctex.gz(busy)
*images
*build
*report/